################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/WebAPI/WebAPI/obj/Container/ContainerDevelopmentMode.cache
/WebAPI/WebAPI/obj/WebAPI.csproj.nuget.dgspec.json
/WebAPI/WebAPI/obj/project.nuget.cache
/WebAPI/WebAPI/obj/project.assets.json
/WebAPI/WebAPI/obj/Debug/net6.0/WebAPI.pdb
/WebAPI/WebAPI/obj/Debug/net6.0/WebAPI.GeneratedMSBuildEditorConfig.editorconfig
/WebAPI/WebAPI/obj/Debug/net6.0/WebAPI.dll
/WebAPI/WebAPI/obj/Debug/net6.0/WebAPI.csproj.FileListAbsolute.txt
/WebAPI/WebAPI/obj/Debug/net6.0/WebAPI.csproj.CoreCompileInputs.cache
/WebAPI/.vs/WebAPI/v17/.suo
/WebAPI/.vs/WebAPI/v17/.futdcache.v2
/WebAPI/WebAPI/obj/Debug/net6.0/WebAPI.csproj.AssemblyReference.cache
/WebAPI/WebAPI/obj/Debug/net6.0/WebAPI.assets.cache
/WebAPI/WebAPI/obj/Debug/net6.0/refint/WebAPI.dll
/WebAPI/WebAPI/obj/Debug/net6.0/ref/WebAPI.dll
/WebAPI/.vs/WebAPI/FileContentIndex/fcf57ebf-f1fe-4cfb-bc86-35b86e78a034.vsidx
/WebAPI/.vs/WebAPI/FileContentIndex/c6aa0a7b-7a12-4603-8554-fc2ac36f667c.vsidx
/WebAPI/.vs/WebAPI/FileContentIndex/5f53c214-355f-43e4-a4d5-3a04d4c0e68c.vsidx
/WebAPI/.vs/WebAPI/DesignTimeBuild/.dtbcache.v2
/WebAPI/.vs/ProjectEvaluation/webapi.projects.v5.2
/WebAPI/.vs/ProjectEvaluation/webapi.metadata.v5.2
/WebAPI/WebAPI/bin/Debug/net6.0/runtimes/win/lib/netcoreapp3.0/System.Windows.Extensions.dll
/WebAPI/WebAPI/bin/Debug/net6.0/runtimes/win/lib/netcoreapp3.0/System.Drawing.Common.dll
/WebAPI/WebAPI/bin/Debug/net6.0/runtimes/win/lib/netcoreapp3.0/Microsoft.Win32.SystemEvents.dll
/WebAPI/WebAPI/bin/Debug/net6.0/WebAPI.pdb
/WebAPI/WebAPI/bin/Debug/net6.0/WebAPI.dll
/WebAPI/WebAPI/bin/Debug/net6.0/WebAPI.deps.json
/WebAPI/WebAPI/bin/Debug/net6.0/System.Windows.Extensions.dll
/WebAPI/WebAPI/bin/Debug/net6.0/System.Security.Permissions.dll
/WebAPI/WebAPI/bin/Debug/net6.0/System.Security.Cryptography.ProtectedData.dll
/WebAPI/WebAPI/bin/Debug/net6.0/System.Drawing.Common.dll
/WebAPI/WebAPI/bin/Debug/net6.0/System.Diagnostics.PerformanceCounter.dll
/WebAPI/WebAPI/bin/Debug/net6.0/System.Configuration.ConfigurationManager.dll
/WebAPI/WebAPI/bin/Debug/net6.0/Microsoft.Win32.SystemEvents.dll
/WebAPI/WebAPI/bin/Debug/net6.0/Microsoft.Extensions.Logging.ApplicationInsights.dll
/WebAPI/WebAPI/bin/Debug/net6.0/Microsoft.ApplicationInsights.dll
/WebAPI/WebAPI/bin/Debug/net6.0/Microsoft.ApplicationInsights.AspNetCore.dll
/WebAPI/WebAPI/bin/Debug/net6.0/Microsoft.AI.WindowsServer.dll
/WebAPI/WebAPI/bin/Debug/net6.0/Microsoft.AI.ServerTelemetryChannel.dll
/WebAPI/WebAPI/bin/Debug/net6.0/Microsoft.AI.PerfCounterCollector.dll
/WebAPI/WebAPI/bin/Debug/net6.0/Microsoft.AI.EventCounterCollector.dll
/WebAPI/WebAPI/bin/Debug/net6.0/Microsoft.AI.DependencyCollector.dll
/WebAPI/WebAPI/bin/Debug/net6.0/runtimes/win/lib/netstandard2.0/System.Security.Cryptography.ProtectedData.dll
/WebAPI/WebAPI/bin/Debug/net6.0/runtimes/win/lib/netcoreapp2.0/System.Diagnostics.PerformanceCounter.dll
/WebAPI/WebAPI/bin/Debug/net6.0/runtimes/unix/lib/netcoreapp3.0/System.Drawing.Common.dll
