<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>Custom</WebPublishMethod>
    <DockerPublish>true</DockerPublish>
    <ResourceId>/subscriptions/21a03064-2ef9-437b-b880-b23da9e570fd/resourcegroups/demo-rg/providers/Microsoft.ContainerRegistry/registries/WebAPI20230813121358</ResourceId>
    <ResourceName>WebAPI20230813121358</ResourceName>
    <ResourceGroup>demo-rg</ResourceGroup>
    <Subscription>Visual Studio Enterprise Subscription</Subscription>
    <RegistryUrl>https://webapi20230813121358.azurecr.io</RegistryUrl>
    <UserName />
    <PublishImageTag>latest</PublishImageTag>
    <PublishProvider>ContainerRegistry</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>458992ba-6fc9-4c75-b970-0c990059ee4f</ProjectGuid>
    <_TargetId>AzureContainerRegistry</_TargetId>
  </PropertyGroup>
</Project>